.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #DF5454;
    padding: 10px;
}

.footer-bottom h4 {
    margin: 10px;
    font-size: 1.2em;
    color: white;
}

.payment-icons {
    display: flex;
    gap: 10px;
    align-items: center; /* Ensure icons are centered */
}

.icon {
    width: 100px;  /* Adjust the width as needed */
    height: 100px;  /* Adjust the height as needed */
    object-fit: contain;  /* Ensure aspect ratio is maintained */
}