.category-container {
    padding: 20px;
    background-color: #f8f8f8; /* Slightly lighter background for the entire section */
    text-align: center;
}

.category-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

.collection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
    border-radius: 8px; /* Rounded corners for the collection container */
}

.collection-item {
    width: 200px;
    height: 300px;
    text-align: center;
    margin: 20px;
    background-color: #43B02A;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
    transition: transform 0.2s ease-in-out;
}

.collection-item:hover {
    transform: translateY(-10px); /* Slight lift on hover */
}

.collection-item img {
    width: 100%;
    height: auto;
    border-radius: 4px; /* Rounded corners for the images */
}

/* Media query for mobile sizes */
@media (max-width: 430px) {
    .collection {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent line breaks */
        padding: 10px;
        margin: 0; /* Remove margin to utilize full screen width */
        justify-content: flex-start;
    }

    .collection-item {
        display: inline-block;
        margin: 10px;
        flex-shrink: 0;
        width: 200px;
        height: auto;
    }
}
