.product-for-you {
    padding: 20px;
    background-color: #f0f0f0;
}

.product-for-you h2 {
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-card h4 {
    margin-top: 10px;
    font-size: 18px;
}

.product-card p {
    margin: 5px 0;
    font-size: 14px;
}

.old-price {
    text-decoration: line-through;
    color: grey;
    margin: 0 5px 0 0;
}

.current-price {
    color: red;
    font-weight: bold;
    margin: 0 5px 0 0;
}

.wishlist-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.wishlist-icon img {
    width: 24px;
    height: 24px;
}

.stock-status {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.stock-status img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.price-basket {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.basket-icon {
    margin-left: 10px;
    cursor: pointer;
    padding: 5px;
    border-right: 5px;
}
.basket-icon:hover {
    background-color: #e0e0e0;
}
.basket-icon:active {
    background-color: #d0d0d0;
}

.basket-icon img {
    width: 24px;
    height: 24px;
}

/* Media query for mobile sizes */
@media (max-width: 430px) {
    .product-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent line breaks */
        padding: 10px;
        margin: 0; /* Remove margin to utilize full screen width */
        justify-content: flex-start;
    }

    .collection-item {
        display: inline-block;
        margin: 10px;
        flex-shrink: 0;
        width: 200px;
        height: auto;
    }
}